<header class="masthead bgblue text-black text-center">
    <div class="container">
        <!-- Masthead Avatar Image-->
        <img class="masthead-avatar mb-5" src="img/logo2.png" alt="" />
        <!-- Masthead Subheading-->
        <h2 class="masthead-subheading font-weight-light mb-0" style="position:absolute;left:30%;right:30%;top:200px;">Aprenda idiomas de uma maneira fácil!</h2>
    </div>
</header>

<section class="page-section bgligther" >
    <div class="row col-12" >
        <div class="col-6" style="margin-top: 30px;">
            <h2>O que é Educards?</h2>
            <hr>
            <p>Educards é um projeto idealizado e executado por André Chierighini e Fábio Kenji Hagiwara para a disciplina de Desenvolvimento Web
             ministrada pelo Prof. André Breda Carneiro.</p>
            <p>Aqui você poderá criar cartões, chamados de <strong>Flash Cards</strong> para auxiliá-lo no estudo de novos idiomas.</p>
            <p>Nos <strong>Flash Cards</strong> você escreverá uma palavra no idioma que quer aprender e a sua tradução para o seu idioma nativo,
            ou outro qualquer que esteja familiarizado.</p>
            <p>Com esse cartão você pode acessar tal palavra facilmente para desenvolver os estudos.</p>
        </div>
    </div>
</section>